/* General container styling */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 7px; /* Промежуток между карточками */
    justify-content: center;
    margin-top: 10px; /* Уменьшен верхний отступ */
    max-width: 1245px; /* Фиксированная ширина для трех карточек в ряд */
}

/* Card styling */
.card {
    flex: 0 0 calc(33.33% - 10px); /* Три карточки в ряд с учетом gap */
    border: none;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05); /* Scale effect on hover */
}

.card-body {
    text-align: center;
    padding: 10px; /* Уменьшены отступы */
}

.card-title {
    font-size: 0.9rem; /* Уменьшен размер текста заголовка */
    font-weight: bold;
    color: #fff; /* Белый текст для контраста */
}

.btn {
    background-color: #007bff;
    color: #fff;
    border-radius: 15px;
    padding: 6px 12px; /* Уменьшены размеры кнопки */
    border: none;
    cursor: pointer;
    font-size: 0.8rem; /* Уменьшен размер текста кнопки */
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.icon {
    font-size: 5rem; /* Уменьшен размер иконки */
    color: #fff; /* Белый цвет иконки для контраста */
}

/* Gradient backgrounds for each card */
.blue {
    background: linear-gradient(135deg, #114a8b, #2a6fb5); /* Синий градиент */
}

.green {
    background: linear-gradient(135deg, #16ca09, #0f8b04); /* Зеленый градиент */
}

.orange {
    background: linear-gradient(135deg, #ffa90a, #ff7c00); /* Оранжевый градиент */
}

.red {
    background: linear-gradient(135deg, #c32626, #ff4b4b); /* Красный градиент */
}

.purple {
    background: linear-gradient(135deg, #623fa8, #9457d3); /* Фиолетовый градиент */
}

.yellow {
    background: linear-gradient(135deg, #ffd900, #ffb800); /* Желтый градиент */
}

.blue1 {
    background: linear-gradient(135deg, #16d3e0, #0da5b6); /* Голубой градиент */
}

.pink {
    background: linear-gradient(135deg, #b2226a, #ff63a5); /* Розовый градиент */
}

.brown {
    background: linear-gradient(135deg, #8B4513, #D2B48C); /* Коричневый к золотистому */
}
